@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Dekel Usach.</h1>
    <h1 class="display-4">Un amateur en la programación.</h1>
</div>

<div class = "descripcion-index">
<p>Desde chico me gusto la programación, siempre fui un apasionado total sobre todo lo que conlleve tecnologia de por medio. 
    Me encanta el desarrollo back end y mi objetivo es ser un programador full-stack en un futuro</p>
    </div>
    <div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../Images/youtube.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">YouTube</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://youtube.com/" class="btn btn-primary" id= "youtube">Ir a YouTube</a>
  </div>
</div>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../Images/discord.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Discord</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://discord.com/" class="btn btn-primary" id= "discord">Ir a Discord</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../Images/X.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">X</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://x.com/" class="btn btn-primary" id = "X">Ir a X</a>
  </div>
</div>
    </div>
  </div>
</div>

