html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
footer {
  background-color: #000000;
}

/*cards*/
.display-4{
  margin-top: 20px;
}
.btn{

  border: red;
}
#youtube{
  background-color: red;
}
#youtube:hover{
  background-color: rgb(180, 27, 27);
}
#discord{
  background-color: #5865F2;

}
#discord:hover{
  background-color: #1e30f7;
}
#X{
  background-color:#191919;
}
#X:hover{
  background-color:#141313;
}
.descripcion-index p{
text-align: center;
font-size: 25px;
}
/*btn-tema*/
#btn-tema:hover
{
background-color: yellow;
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}